<div class="row">
    <div class="col col-md"></div>
    <div class="co-10 col-md-8">
        <h2>Añadir nuevo proveedor</h2>
        <form (ngSubmit)="onSubmit()" [formGroup]="proveedorForm">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" formControlName="nombre">
            </div>
            <div class="form-group">
                <label for="nombre">Cif</label>
                <input type="text" class="form-control" id="cif" formControlName="cif">
            </div>
            <div class="form-group">
                <label for="direccion">Direccion</label>
                <input type="text" class="form-control" id="direccion" formControlName="direccion">
            </div>
            <div class="form-group">
                <label for="cp">CP</label>
                <input type="text" class="form-control" id="cp" formControlName="cp">
            </div>
            <div class="form-group">
                <label for="localidad">Localidad</label>
                <input type="text" class="form-control" id="localidad" formControlName="localidad">
            </div>
            <div class="form-group">
                <label for="provincia">Provincia</label>
                <select class="form-control" id="provincia" formControlName="provincia">
                  <option value="">Seleccione la provincia</option>
                  <option *ngFor="let provincia of provincias" [value]="provincia">
                    {{ provincia }}
                  </option>
                </select>
            </div>
            <div class="form-group">
                <label for="telefono">Telefono</label>
                <input type="number" class="form-control" id="telefono" formControlName="telefono">
            </div>
            <div class="form-group">
                <label for="email">Correo Electronico</label>
                <input type="email" class="form-control" id="email" formControlName="email">
            </div>
            <div class="form-group">
                <label for="contacto">Persona de Contacto</label>
                <input type="text" class="form-control" id="contacto" formControlName="contacto">
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!proveedorForm.valid">Añadir Proveedor</button>
            <p class="alert alert-danger" *ngIf="!proveedorForm.valid">Por favor complete todos los campos obligatorios</p>
        </form>
        <hr>
        <!-- <pre>
          {{ proveedor | json }}
        </pre> -->

        <!-- <h4>Estado dirty: {{ formpro.controls.email.dirty }}</h4>
        <h4>Estado pristine: {{ formpro.controls.email.pristine }}</h4>
        <h4>Estado touched: {{ formpro.controls.email.touched }}</h4>
        <h4>Estado valid: {{ formpro.controls.email.valid }}</h4>
        <h4>Estado invalid: {{ formpro.controls.email.invalid }}</h4> -->

    </div>
    <div class="col col-md"></div>

</div>